body{
    display:flex;
      width:100vw;
      height:100vh;
    justify-content:center;
    align-items:center;
  }
  
  .overlay{
      display:flex;
      position: absolute;
      width:inherit;
      height:inherit;
      background-color:rgba(0,0,0,0.35);
      z-index:2;
      visibility: visible;
      transition: all 0.2s ease-in-out;
  }
  .modal{
    display:flex;
    flex-direction:column;
    position:absolute;
      align-items:left;
    border:none;
    top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      box-shadow: #AAAAAA 3px 3px 15px;
      border-radius: 6px;
      padding: 5px 10px 20px 20px;
      background-color:#FFF;
  }
  
  .button{
      align-items:center;
      padding: 3%;
      border:none;
      border-radius:.5vw;
      color:white;
      background-color: lightgreen;
      cursor:pointer;
  }
  
  .modal>button{
      max-width:75px;
  }
  
  button:hover{
      background-color:green;
      transition: .2s ease-in-out;
  }
  